<div class="modal-body clearfix">
  <div>
    <h3>{{ primaryMsg }}</h3>
    <p>{{ secondaryMsg }}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-danger" ng-click="ok()">{{ primaryBtn }}</button>
</div>