<div class="modal-header">
  <h4 class="modal-title">Key Shortcuts</h4>
</div>
<div class="modal-body shortcuts-dialog">
  <div class="row">

    <div class="col-sm-6">
      <h4>File operations</h4>
      <dl class="dl-horizontal">
        <dt>Ctrl + N</dt>
        <dd>New document</dd>
        <dt>Ctrl + S</dt>
        <dd>Save document</dd>
        <dt>Ctrl + O</dt>
        <dd>Open document</dd>
      </dl>

      <h4>Bullets View</h4>
      <dl class="dl-horizontal">
        <dt>Tab</dt>           <dd>Indent right</dd>
        <dt>Shift + Tab</dt>   <dd>Indent left</dd>
        <dt>Enter</dt>         <dd>New bullet</dd>
        <dt>Shift + Enter</dt> <dd>New line</dd>
      </dl>
    </div>

    <div class="col-sm-6">
      <h4>Clipboard</h4>
      <dl class="dl-horizontal">
        <dt>Ctrl + X</dt>      <dd>Cut</dd>
        <dt>Ctrl + C</dt>      <dd>Copy</dd>
        <dt>Ctrl + V</dt>      <dd>Paste</dd>
      </dl>

      <h4>Insert</h4>
      <dl class="dl-horizontal">
        <dt>Ctrl + Shift + P</dt> <dd>Picture</dd>
        <dt>Ctrl + Shift + C</dt> <dd>Source code</dd>
        <dt>Ctrl + Shift + N</dt> <dd>Note</dd>
      </dl>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>