$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * Variables
 */

$base-space: 9px;
$secondary-navbar-height: 40px;

// Component styles are injected through grunt
// injector
@import '_bootstrap-vars.scss';
@import '_bootstrap.scss';
@import 'core/auth/authDialog/authDialog.scss';
@import 'core/auth/mtoAuthPanel/mtoAuthPanel.scss';
@import 'core/keyShortcuts/keyShortcuts.scss';
@import 'core/main.scss';
@import 'core/settings/prefsDialog/prefsDialog.scss';
@import 'core/settings/viewSettings/viewSettings.scss';
@import 'functionality/about/about.scss';
@import 'functionality/bulletNode/mtoBulletNode/mtoBulletNode.scss';
@import 'functionality/bulletNode/mtoMediaHandler/mtoMediaHandler.scss';
@import 'functionality/layers/mtoLayersSwitch/mtoLayersSwitch.scss';
@import 'viewModes/bulletView/bulletView.scss';
@import 'viewModes/jsonView/jsonView.scss';
// endinjector

@import 'bootstrap-social/bootstrap-social';

/**
 * Bootstrap overrides
 */

.breadcrumb {
  margin-bottom: 0px;
}

.navbar .input-group-btn:first-child > .btn {
  @media (max-width: $screen-xs-max) {
    @include border-right-radius($border-radius-base);
  }
}

.form-control-inline {
  display: inline-block;
  width: auto; // Prevent labels from stacking above inputs in `.form-group`
  vertical-align: middle;
}

a {
  cursor: pointer;
}

.tab-pane {
  padding-top: $base-space;

  .list-group {
    margin-bottom: 0;
  }
}

.list-group-item {
  // Hover state
  &:hover,
  &:focus {
    text-decoration: none;
    color: $list-group-link-hover-color;
    background-color: $list-group-hover-bg;
  }
}

// End: Bootstrap overrides

/**
 * Universal App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.auto-width {
  width: auto;
}

.btns-top-margin {
  margin-top: $base-space;
}

.input-height {
  padding-top: 5px;
}

.label-normal {
  font-weight: normal;
}

.right-space {
  margin-right: $base-space;
}

.no-top-margin {
  margin-top: 0;
}

.mto-nosel {
  @include user-select(none);
  cursor: default;
}

// Disable border on focused contenteditables
[contenteditable]:focus {
  outline: 0px solid transparent;
}