<div class="modal-body clearfix">
  <div>
    <h3>Enable including dependencies?</h3>
    <p>For proper functionality of the module it is necessary to enable following modules:</p>
    <ul>
      <li ng-repeat="module in deps">{{module.name}}</li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="ok()">Enable All</button>
</div>