<div class="modal-body text-center about">
  <img class="appicon" src="assets/images/icon-about.png"/>
  <h1>Mayto<small> 0.2</small></h1>
  <h4>Take notes</h4>
  <p>Copyright &copy; 2014 Mayto Team</p>
  
  <h5>Authors:</h5>
  <p><small>Jan Hrdina</small></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>