<div class="nodes-view" ng-controller="BulletViewCtrl">
  <mto-media-handler right-margin="mediaWidth"></mto-media-handler>

  <div style="margin-right: {{mediaWidth}}px" mto-drag-me=".bullet">
    <!-- Nodes -->
    <mto-bullet-node ng-if="getOpenedNodeId() !== null"
                     node-id="getOpenedNodeId()"
                     is-heading="true">
    </mto-bullet-node>
  </div>
</div>