<div class="bullet-node"
     ng-class="{'opened-node': isHeading}">
  
  <div class="bullet-line">
    <!-- Expader (plus/minus) -->
    <div class="expander"
      ng-class="{
        'minus': hasChildren() &amp;&amp; !Collapse.isCollapsed(node),
        'plus': Collapse.isCollapsed(node)}"
      ng-click="Collapse.toggle(node)"></div>
    
    <!-- Bullet -->
    <div class="bullet"
         ng-class="{'active': hasParam('collapse')}"
         ng-click="openNode(node)"></div>
    
    <!-- Content -->
    <div class="content">
      <img ng-if="hasParam('image')" ng-src="{{node.params['image']}}" />

      <p contenteditable ng-model="node.text" ng-change="textChanged()"></p>

      <div class="connectors">
        <svg width="500" height="500">
          <path d="M213 131c100 1.5 160 -42 247 -42" style="stroke-linejoin:round;stroke-dashoffset:0;stroke:#cccccc;stroke-linecap:butt;stroke-miterlimit:4;stroke-dasharray:2, 9;stroke-width:2;marker-mid:none;fill:none;"></path>
        </svg>
      </div>
    </div>
  </div>
  
  <!-- Children come here-->
</div>