.bullet-node {
  > .children {
    margin-left: 22px;

    // Animations
    
    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove.ng-hide-remove-active {
      @include transition(all linear 0.3s);
    }
    &.ng-hide {
      opacity: 0;
    }
  }

  &.opened-node {  
    > .bullet-line {
      > .expander,
      > .bullet {
        display: none;
      }
      
      > .content {
        margin-left: 16px;

        > p {
          @extend h1;
        }
      }
    }

    > .children {
      margin-left: 0;
    }
  }
}


.bullet-line {
  
  // Variables
  $bullet-size: 18px;
  $content-font-size: 16px;
  $content-margin: 4px;

  //@extend .clearfix;
  position: relative;
  opacity: 1;

  &:hover {
    .expander.plus,
    .expander.minus {
      opacity: 1;
    }
  }

  > .expander,
  > .bullet {
    width: $bullet-size;
    height: $bullet-size;
    @extend .pull-left;
  }
  
  > .expander {
    &.plus,
    &.minus {
      opacity: 0;
    }
    &.plus {
      background-image: url('../assets/images/expander-plus.svg');
    }
    &.minus {
      background-image: url('../assets/images/expander-minus.svg');
    }
  }

  > .bullet {
    background-image: url('../assets/images/bullet-normal.svg');
    
    &.active {
      background-image: url('../assets/images/bullet-active.svg');
    }
    &:hover {
      background-image: url('../assets/images/bullet-hover.svg');
    }
  }

  > .content {
    margin-left: $bullet-size * 2 + $content-margin;
    margin-bottom: $content-margin;
    font-size: $content-font-size;
    
    img {
      position: absolute;
      right: -100px;
      height: 130px;
    }
    p {
      margin: 0;
    }
  }

  .connectors {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
  }
}