<div class="modal-header">
  <h4 class="modal-title">Register</h4>
</div>
<div class="modal-body modal-auth">
  <div class="center-block">
    <button type="button" class="btn btn-block btn-social btn-facebook">
      <i class="fa fa-facebook"></i> Sign in with Facebook
    </button>
    <button type="button" class="btn btn-block btn-social btn-google-plus">
      <i class="fa fa-google-plus"></i> Sign in with Google
    </button>
    <p class="text-center or">or</p>
  </div>

  <form class="form-horizontal"
        role="form"
        novalidate
        ng-submit="register()">
    <div class="form-group">
      <label for="inputEmail" class="col-sm-4 control-label">Email</label>
      <div class="col-sm-8">
        <input type="email"
               class="form-control"
               placeholder="Email"
               ng-model="user.email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputName" class="col-sm-4 control-label">Name</label>
      <div class="col-sm-8">
        <input type="text"
               class="form-control"
               placeholder="Display name"
               ng-model="user.name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-4 control-label">Password</label>
      <div class="col-sm-8">
        <input type="password"
               class="form-control"
               placeholder="Password"
               ng-model="user.password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <input type="password"
               class="form-control"
               placeholder="…again">
      </div>
    </div>
  </form>
</div>
<div class="modal-error ng-hide" ng-show="error">
  <p>{{ error }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="register()">Sign Up</button>
</div>