.modal-error {
  @extend .modal-body;
  @extend .bg-danger;

  overflow: hidden;
  max-height: 100px;

  > p {
    @extend .text-danger;
    margin: 0;
  }

  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove.ng-hide-remove-active {
    @include transition(all ease-out 0.5s);
  }

  &.ng-hide {
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 0px;
  }
}

.modal-auth {
  p.or {
    margin: ($line-height-computed / 2) 0;
  }

  &.modal-body {
    padding-bottom: 0;
  }
}