<div>
  <div class="row text-center visible-xs">
    <mto-view-mode-toggle
      view-modes="viewModes"
      selection="activeView">
    </mto-view-mode-toggle>
  </div>

  <div class="plugin-box">
    <div class="clearfix">
      <div class="pull-left input-height right-space">
        <label>Pictures:</label>
        <input type="checkbox" checked>
      </div>

      <div class="pull-right">
        <label class="label-normal">Picture Height (px):</label>
        <input type="number" class="form-control form-control-inline" value="120" min="1" max="10000" step="5">
      </div>
    </div>
  </div>

  <div class="plugin-box">
    <div class="clearfix">
      <div class="pull-left">
        <label>Layers:</label>
      </div>

      <div class="pull-right">
        <input type="checkbox" checked>
      </div>
    </div>

    <div class="checkbox no-top-margin">
      <label>
        <input type="checkbox">
        Font size by layer
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Color-coded layers
      </label>
    </div>
  </div>
</div>