$module-list-v-margin: 5px;
$module-icon-size: 32px;

.module-icon {
  @extend .pull-left;
  width: $module-icon-size;
  height: $module-icon-size;
  margin: $module-list-v-margin $base-space $module-list-v-margin 0; 
}