<div class="modal-header">
  <h4 class="modal-title">Preferences</h4>
</div>
<div class="modal-body">
  <tabset>
    
    <tab heading="General">
      <button type="button" class="btn btn-default btn-block" ng-click="askResetDefault()">Restore default settings</button>
    </tab>

    <tab heading="Appearance">
      <div class="form-group">
        <label>Custom SCSS style</label>
        <input type="file">
      </div>
    </tab>
    
    <tab heading="Modules">
      <ul class="list-group">
        <li class="list-group-item" ng-click="askEnableDependencies()">
          <div class="module-icon">
            <i class="fa fa-list-ul fa-2x"></i>
          </div>
          <input type="checkbox" class="pull-right" checked>
          <h4 class="list-group-item-heading">
            Bullet View
          </h4>
          <p class="list-group-item-text">
            View nodes as bullets.
          </p>
        </li>
        <li class="list-group-item">
          <div class="module-icon">
            <i class="fa fa-sitemap fa-2x"></i>
          </div>
          <input type="checkbox" class="pull-right">
          <h4 class="list-group-item-heading">
            Tree View
          </h4>
          <p class="list-group-item-text">
            View nodes as a mindmap.
          </p>
        </li>
      </ul>
    </tab>
  </tabset>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Close</button>
</div>