$priority1-color: #9ecee1;
$priority2-color: #4c81c5;
$priority3-color: #ba342b;

.secondary-navbar {
  border-bottom: 1px solid $navbar-default-border;

  a {
    color: $navbar-default-color;
  }

  .btn-priority1 {
    a {
      color: #000;
      background-color: $priority1-color;

      &:hover,
      &:focus {
        background-color: lighten($priority1-color, 10%);
      }
    }
  }

  .btn-priority2 {
    a {
      color: #fff;
      background-color: $priority2-color;

      &:hover,
      &:focus {
        background-color: lighten($priority2-color, 10%);
      }
    }
  }

  .btn-priority3 {
    a {
      color: #fff;
      background-color: $priority3-color;

      &:hover,
      &:focus {
        background-color: lighten($priority3-color, 10%);
      }
    }
  }
}

.view-container {
  position: absolute;
  top: 87px;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-y: scroll;

  @media (max-width: $screen-xs-max) {
    top: 45px;
  }
}