
<!-- Primary Toolbar -->

<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li title="New document" class="hidden-xs">
        <a href="" ng-click="newFile()"><i class="fa fa-file-o"></i></a>
      </li>
      <li title="Open document" class="hidden-xs">
        <a href="" ng-click="openFile('open')"><i class="fa fa-folder-open"></i></a>
      </li>
      <li title="Save document" class="hidden-xs">
        <a href=""><i class="fa fa-download"></i></a>
      </li>
      <li></li>
      <li title="Undo last action">
        <a href="" ng-click="undo()"><i class="fa fa-undo"></i></a>
      </li>
      <li title="Redo">
        <a href="" ng-click="redo()"><i class="fa fa-repeat"></i></a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li title="App menu" class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <mto-auth-panel
              auth-signed-in="signedIn()"
              auth-login="openLoginDialog()"
              auth-register="openRegisterDialog()"
              auth-user-click="openPreferences()"
              auth-logout="logout()"
              auth-user-name="currentUser.name"
            ></mto-auth-panel>
          </li>
          <li class="divider"></li>
          <li class="visible-xs">
            <a href="" ng-click="newFile()">
              <i class="fa fa-fw fa-file-o"></i> New document
            </a>
          </li>
          <li class="visible-xs">
            <a href="" ng-click="openFile('open')">
              <i class="fa fa-fw fa-folder-open"></i> Open
            </a>
          </li>
          <li class="visible-xs">
            <a href="">
              <i class="fa fa-fw fa-download"></i> Save As...
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-fw fa-print"></i> Print
            </a>
          </li>
          <li class="visible-xs">
            <a href="">
              <i class="fa fa-fw fa-search"></i> Search
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="">
              <i class="fa fa-fw fa-arrows-alt"></i> Full Screen
            </a>
          </li>
          <li>
            <a href="" ng-click="openPreferences()">
              <i class="fa fa-fw fa-sliders"></i> Preferences
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="" ng-click="openKeyShortcuts()">
              <i class="fa fa-fw fa-keyboard-o"></i> Key Shortcuts
            </a>
          </li>
          <li>
            <a href="" ng-click="openAbout()">
              <i class="fa fa-fw fa-asterisk"></i> About Mayto
            </a></li>
        </ul>
      </li>
    </ul>
    
    <div class="btn-toolbar navbar-right navbar-btn" role="toolbar">

      <!-- Reversed order because of Safari issues -->
      
      <!-- Search field -->
      <div class="input-group pull-right">
        <div class="input-group-btn auto-width">
          <button type="button"
              class="btn btn-default"
              ng-popover="app/functionality/search/advSearch.html">
            <i class="fa fa-search"></i> <span class="caret"></span>
          </button>
        </div><!-- /btn-group -->
        <input type="text" class="form-control hidden-xs" placeholder="Search">
      </div><!-- /input-group -->
      
      <!-- View Settings dropdown button -->
      <div class="btn-group pull-right">
        <button title="View settings"
            type="button"
            class="btn btn-default"
            ng-popover="app/core/settings/viewSettings/viewSettings.html">
          <i class="fa fa-eye"></i>
          <span class="caret"></span>
        </button>
      </div>
      
      <!-- View toggles -->
      <mto-view-mode-toggle
        class="hidden-xs pull-right"
        view-modes="viewModes"
        selection="activeView">
      </mto-view-mode-toggle>
    </div>
  </div>
</div>

<!-- Secondary Toolbar -->

<div class="container-fluid secondary-navbar hidden-xs">
  <mto-breadcrumb active-node-id="getOpenedNodeId()"></mto-breadcrumb>
  
  <div class="pull-right">
    <ul class="nav nav-pills">
      <li><mto-layers-switch ng-model="layer"></mto-layers-switch></li>
      <li><a href="" ng-click="setBold()"><i class="fa fa-bold"></i></a></li>
      <li><a href="" ng-click="setItalic()"><i class="fa fa-italic"></i></a></li>
      <li><a href="" ng-click="setUnderline()"><i class="fa fa-underline"></i></a></li>
      <li title="Highlight priority 1" class="btn-priority1"><a href="">1</a></li>
      <li title="Highlight priority 2" class="btn-priority2"><a href="">2</a></li>
      <li title="Highlight priority 3" class="btn-priority3"><a href="">3</a></li>
      <li class="dropdown" title="Insert">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-plus"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href=""><i class="fa fa-fw fa-picture-o"></i> Picture</a></li>
          <li><a href=""><i class="fa fa-fw fa-film"></i> Video</a></li>
          <li><a href=""><i class="fa fa-fw fa-code"></i> Source code</a></li>
          <li><a href=""><i class="fa fa-fw"></i> Note</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="view-container">
  <div ng-include src="viewModes[activeView].templateUrl"></div>
</div>

<!-- Hidden open file input -->
<input
  id="open"
  type="file"
  style="display:none"
  ng-file-select="onOpenFileSelect($files)">