.auth-panel {
  padding: 3px 10px 0 10px;
  min-width: 200px;
  
  .logreg-box {
    width: 100%;

    .btn {
      width: 50%;
    }
  }
  
  .user-box {
    @extend .clearfix;

    .user {
      @extend .pull-left;

      a {
        display: block;
        padding: ($padding-base-vertical+2) 0;
        font-weight: bold;
      }
    }
  }
}