<div class="auth-panel">
  <div class="logreg-box btn-group" ng-show="!signedIn">
    <button type="button"
            class="btn btn-default"
            ng-click="login()">
      Log In
    </button>
    <button type="button"
            class="btn btn-default"
            ng-click="register()">
      Register
    </button>
  </div>
  <div class="user-box" ng-show="signedIn">
    <div class="user">
      <a href="" ng-click="userClick()">{{userName}}</a>
    </div>
    <button type="button"
            class="btn btn-default pull-right"
            ng-click="logout()">
      Log Out
    </button>
  </div>
</div>