<input type="text" placeholder="Search text" class="form-control visible-xs">
<div class="radio">
  <label>
    <input type="radio" name="searchModeRadios" checked>
    In opened node
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="searchModeRadios">
    In the whole document
  </label>
</div>

<hr>

<label>Replace with:</label>
<input type="text" class="form-control">
<div class="btns-top-margin">
    <button type="button" class="btn btn-default">All</button>
    <button type="button" class="btn btn-default">Replace</button>
    <button type="button" class="btn btn-default">Next</button>
</div>