.layers-switch {
  height: 40px;
  width: 71px;
  float: right;
  @include user-select(none);

  div {
    height: 24px;
    background-image: url('../assets/images/layers.png');
    background-repeat: no-repeat;
    margin: 8px 0;
  }

  &:hover {
    background-color: $gray-lighter;
  }
}