$media-handler-width: 17px;

.media-handler {
  position: fixed;
  background-image: url('../assets/images/handle.svg');
  cursor: ew-resize;
  z-index: 10;
  
  width: $media-handler-width;
  height: 18px;
  margin: 0 (-$media-handler-width/2);
}