<div class="btn-group">
  <button 
    ng-repeat="viewMode in viewModes"
    title="{{viewMode.title}}"
    type="button"
    class="btn btn-default"
    ng-class="{'active': selection === $index}"
    ng-click="setActiveView($index)">
    
    <i class="fa {{viewMode.buttonFAIcon}}"></i>
  </button>
</div>